.sidebar {
  position: absolute;
  height: calc(100vh - 80px);
  background-color: white;
  width: 240px;
  border-radius: 0 20px 20px 0;
  box-shadow: 0 10px 10px#ccc;
  transition: all 300ms ease-in-out;
}

.sidebar-closed {
  width: 80px;
}

.sidebar-nav {
  list-style: none;
}

.sidebar-nav-item {
  margin: 1rem;
  display: flex;
  align-items: center;
}

.sidebar-nav-icon {
  color: var(--primary-color);
  padding: 10px;
  font-size: 50px;
  margin-right: 1rem;
  border: solid 1px var(--primary-color);
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 4px 4px#ccc;
  transition: all 300ms ease-in-out;
}

.sidebar-nav-item:hover .sidebar-nav-icon,
.sidebar-nav-item.active .sidebar-nav-icon {
  color: var(--primary-dark);
  background-color: var(--primary-hover);
}

.sidebar-nav-link {
  text-decoration: none;
  font-size: 18px;
  color: var(--primary-color);
  font-weight: bold;
  margin: 1rem;
  display: flex;
  align-items: center;
  transition: all 300ms ease-in-out;
}

.sidebar-nav-item:hover .sidebar-nav-link,
.sidebar-nav-item.active .sidebar-nav-link {
  color: var(--primary-dark);
}

.t-sidebar-enter {
  width: 80px;
  opacity: 0;
  transition: all 300ms ease-in-out;
}

.t-sidebar-enter-active {
  width: 240px;
  opacity: 1;
}

.t-sidebar-exit {
  width: 240px;
  opacity: 1;
  transition: all 300ms ease-in-out;
}

.t-sidebar-exit-active {
  width: 80px;
  opacity: 0;
}
